<style>
#table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#table td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#table tr:hover {
	background-color: #ddd;
}

#table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: lightslategray;
	color: white;
}
</style>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active   "> Add/update Book Here
            </li>
        </ol>
    </nav>
   <div> <button class="btn btn-primary"
            @click="isNewBook = true,
                       showBookModal = true">Add Book</button>
   </div>
	<div>
		<table id="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Author</th>
					<th>Publisher</th>
					<th>Count</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="row in rows">
					<td>{{row.name}}</td>
					<td>{{row.author}}</td>
					<td>{{row.publisher}}</td>
					<td>{{row.copiesOwned}}</td>
					<td data-toggle="modal" data-target="#myModal"
						@click="temprow=row,showBookModal = true"><i
						style='font-size: 24px' class='fas'>&#xf044;</i></td>
					<td @click="temprow=row;deletebook =true"><i style='font-size: 24px'
						class='far'>&#xf2ed;</i></td>
				</tr>
			</tbody>
		</table>
	</div>


	<modal v-if="showBookModal" :dismissible="false"
		:title="isNewBook?'Add New Book':'Update Book'">
	<div class="form-group">
	<div>
		<label>Name</label>
	 	<input class="form-control"type="text" name="name" v-model="temprow.name"	
						:disabled="!isNewBook" >
	</div>
	<div>
	<label>Author</label>
		 <input class="form-control" type= "text" name="author" v-model="temprow.author"
		 :disabled="!isNewBook">
	</div>
	<div>
		<label>Publisher</label>
		 <input class="form-control" type="text" name="publisher"
			v-model="temprow.publisher"  :disabled="!isNewBook">
</div>			
		<div>	
		<label>Count</label>
		 <input class="form-control" type="text" name="copiesOwned"
			v-model="temprow.copiesOwned">
	</div>
	</div>
	<div slot="footer">
		<button @click="isNewBook = false;showBookModal = false" class="btn btn-default">back</button>
		<button @click="updateBook();showBookModal = false" class="btn btn-success ">Save</button>
	</div>
	</modal>
	<modal v-if="res" title="error occured" :dismissible="false">
	<p>{{res}}</p>
	<div slot="footer">
		<button @click="res = null" class="btn btn-default">back</button>
	</div>
	</modal>

    <modal v-if="deletebook" title="Are you sure you want to delete this book?" :dismissible="false">
       <p> Book {{temprow.name}} will be deleted from database.</p>
        <p>Are you sure you want to delete this</p>
        <div slot="footer">
            <button @click="deletebook = false" class="btn btn-default ">Cancel</button>
            <button @click="deleteBook(temprow.id)" class="btn btn-default btn-danger">Delete</button>
        </div>
    </modal>

</div>

<script>
loadVueComponent('modal');
window['admin'] = {
		
		data: function(){
		return{
			rows : null,
			temprow: {
				id:null,
				name: null,
				author: null,
				publisher: null,
				copiesOwned: null
			},
			isNewBook: false,
			showBookModal:false,
            deletebook: false,
            res:null
			
		}
		  },
	created: function() {
		debugger;
			this.loadBooks();
		
	},
	methods:{
		revert: function(){
			this.temprow = {
				id:null,
				name: null,
				author: null,
				publisher: null,
				copiesOwned: null

			};
			this.res= null;
		},
		updateBook: function(){
			debugger;
			var book = this.temprow;
		 this.$api({
				url:"updateBooks?isNewBook=" + this.isNewBook,
				data: book,
				success: function(res){
					console.log(res);
					console.log("success");
					this.loadBooks();
					},
				error: function(res){
					this.res = "error while saving new Book!! book already exists";
					 this.isNewBook = true;
					console.log(res.getResponseHeader());
				}
			});
		
			 this.isNewBook = false;
			 this.revert();
			 
			 
		},
		deleteBook: function(id){
		    debugger;
			 this.$api({
					url:"deleteBook?id="+id,
					success: function(res){
						console.log("success");
					},
					error: function(res){
						this.error = "Book cannot be deleted. Book is issued to one or more users"
					}
				});
			this.temprow =null;
            this.deletebook = false;
			 this.loadBooks();
			 
			},
			loadBooks: function(){
				this.$api({
					url:"/books",
					success: function(books){
						this.rows =books;
					}
				})
			}
	}
}
			
			

</script>