<style>
#table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#table td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#table tr:hover {
	background-color: #ddd;
}

#table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: lightslategray;
	color: white;
}
</style>
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active   "> Create Request to issue book</li>
        </ol>
    </nav>
	<div>
        <div class="form-inline" >
        <input class="form-control" type="text" v-model="query" placeholder="Enter Name of Book" />
		<button @click="searchBooks" class="btn btn-success ">Search</button>
        </div>
	</div>
	<div v-if="books">
		<div v-if="books.length>0">
			<table id="table" >
				<thead>
					<tr>
						<th>Name</th>
						<th>Author</th>
						<th>Publisher</th>
						<th>Availability</th>
						<th>Borrow</th>

					</tr>
				</thead>
				<tbody>
					<tr v-for="row in books">
						<td>{{row.name}}</td>
						<td>{{row.author}}</td>
						<td>{{row.publisher}}</td>
						<td>{{row.copiesOwned-row.copiesIssued}}</td>
						<td><button @click="temprow=row; viewBookModal=true"
								:disabled="(row.copiesOwned-row.copiesIssued) == 0"
                                    class="btn btn-primary ">create Request</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div v-else>NO BOOKS FOUND</div>
	</div>
	<div>
		<modal v-if="viewBookModal" :dismissible="false" title="Confirmation">

		<div class="form-group">
            <div>
            <label >Name</label>
            <input class="form-control" type="text" name="name" v-model="temprow.name" disabled>
            </div>
            <div><label >Author</label>
			  <input class="form-control" type="text" name="author" v-model="temprow.author" disabled>
            </div>
            <div><label >Publisher</label>
            <input class="form-control" type="text" name="publisher" v-model="temprow.publisher" disabled>
            </div>
		</div>
		<div slot="footer">
			<button @click="viewBookModal = false" class="btn btn-default">Cancel</button>
			<button
				@click="viewBookModal = false; bookID = temprow.id; issueBook()" class="btn btn-success ">Create Reequest</button>
		</div>
		</modal>

	</div>
</div>
<script>
loadVueComponent('modal');
window['borrow'] = {
		data: function(){
			return{
				query: null,
				books: null,
				temprow: {
					id:null,
					name: null,
					author: null,
					publisher: null,
					copiesOwned: null},
				viewBookModal:false,
				bookID: null

				}
			},
			created: function() {
		
			},
			methods:{
			searchBooks: function(){
				 this.$api({
						url:"searchbooks?query=" + this.query,
						success: function(res){
							this.books = res;
							console.log("success");
							
							},
						error: function(res){
							console.log(res);
							console.log("error");
						}
					});
			},
			issueBook: function(){
				 this.$api({
						url:"issuebook?bookID=" + this.bookID,
						success: function(res){
							console.log(res);
							console.log("success");
							
							},
						error: function(res){
							console.log(res);
							console.log("error");
						}
					});
			this.books = null;
			}
			}
			
			
			}
			

</script>