<style>
#table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#table td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#table tr:hover {
	background-color: #ddd;
}

#table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: lightslategray;
	color: white;
}
</style>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"> Please find below your Details </li>
        </ol>
    </nav>
	<div>
		<table id="table" >
			<thead>
				<tr>
					<th>userName</th>
					<th>RollNumber</th>
					<th>BookName</th>
					<th>Author</th>
					<th>Publisher</th>
					<th>DateIssued</th>
                    <th>Issue Approval</th>
					<th>DateReturned</th>
                    <th>Return</th>
                    <th>Return Request Completed</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="row in records">
					<td>{{row.userName}}</td>
					<td>{{row.rollNumber}}</td>
					<td>{{row.bookName}}</td>
					<td>{{row.author}}</td>
					<td>{{row.publisher}}</td>
					<td>{{row.dateIssued}}</td>
                    <td><span v-if="row.approved">approved</span></td>
					<td>{{row.dateReturned}}</td>
					<td><button class="btn btn-primary"
                                @click="returnbook(row.bid, row.buid)"
                                :disabled="!row.approved || row.dateReturned">create Request</button></td>
                    <td><span v-if="row.    dateReturned"> completed</span></td>
				</tr>
			</tbody>
		</table>
	</div>
    {{records}}

</div>

<script>

loadVueComponent('modal');
window['User'] = {
		data: function(){
		return{
			records: null
		}
		  },
	created: function() {
	this.LoadData();
		
	},
	methods:{
		LoadData: function(){
			this.$api({
					url:"userBookDetails",
					success: function(res){
						this.records=res;
					
					}
				})
		},
	returnbook : function(bid, buid){
					 this.$api({
							url:"returnbook?bid="+bid+"&buid="+buid,
							success: function(res){
								console.log("success");
							}
					
		        })
			}
		
				
	}
}
</script>