<style>
#table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#table td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#table tr:hover {
	background-color: #ddd;
}

#table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: lightslategray;
	color: white;
}
</style>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"> Please find below your Details </li>
        </ol>
    </nav>
	<div>
		<table id="table" >
			<thead>
				<tr>
					<th>userName</th>
					<th>RollNumber</th>
					<th>BookName</th>
					<th>Author</th>
					<th>Publisher</th>
					<th>DateIssued</th>
                    <th>Issue Approval</th>
					<th>DateReturned</th>
                    <th>Return</th>
                    <th>Return Request Status</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="row in records">
					<td>{{row.userName}}</td>
					<td>{{row.rollNumber}}</td>
					<td>{{row.bookName}}</td>
					<td>{{row.author}}</td>
					<td>{{row.publisher}}</td>
					<td>{{row.dateIssued}}</td>
                    <td><span v-if="row.approved">approved</span></td>
					<td>{{row.dateReturned}}</td>
					<td><button class="btn btn-primary"
                                @click="temprow=row"
                                :disabled="!row.approved || row.returnRequest">create Request</button></td>
                    <td>{{row.returnRequest}}</td>
				</tr>
			</tbody>
		</table>
	</div>
    <modal v-if="temprow" :dismissible="false"
           title="Are you sure you want to return this book'">
        <div>
            Name: <input type="text" name="name" v-model="temprow.name"

                         :disabled="!isNewBook" > <br>
            Author <input type= "text" name="author" v-model="temprow.author"
                          :disabled="!isNewBook"> <br>
            Publisher <input type="text" name="publisher"
                             v-model="temprow.publisher"  :disabled="!isNewBook">
            Count <input type="text" name="copiesOwned"
                         v-model="temprow.copiesOwned">
        </div>
        <div slot="footer">
            <button @click="temprow = null" class="btn btn-default">back</button>
            <button @click="returnbook(temprow.bid, temprow.buid);" class="btn btn-success ">Save</button>
        </div>
    </modal>


</div>

<script>

loadVueComponent('modal');
window['User'] = {
		data: function(){
		return{
			records: null,
            temprow: null
		}
		  },
	created: function() {
	this.LoadData();
		
	},
	methods:{
		LoadData: function(){
			this.$api({
					url:"userBookDetails",
					success: function(res){
						this.records=res;
					
					}
				})
		},
	returnbook : function(bid, buid){
					 this.$api({
							url:"returnbook?bid="+bid+"&buid="+buid,
							success: function(res){
								console.log("success");
							}
					
		        })
            this.LoadData();
            this.temprow;

			}
		
				
	}
}
</script>